* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

/* [class ^= "box-"] {
    display: grid;
    place-items: center;
    border: solid 5px orangered;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .1);
    color: #fff;
} */

body {
    background: rgba(238, 94, 94, 0.1);
    height: 100vh;
}

.header-design {
    /* background: rgba(238, 94, 94, 0.1); */
    height: 100vh;
    width: 90%;
    margin: 20px auto;
}

/****************** Nav Section ******************/

.nav-design {
    width: 100%;
    height: 100px;
    background: rgba(164, 238, 94, 0.1);
    /* box-shadow: 5px 5px rgba(72, 74, 75,.2); */
    box-shadow: 0px 15px 10px -15px #111; 

    display: flex;
    justify-content: space-between;
    text-align: center;
}

.logo-design {
    width: 200px;
    height: 100%;
    /* background-color: rgb(185, 52, 52); */
    text-align: center;
}

.logo-design .logo-anchor {
    padding: auto 20px 50px;
    line-height: 60px;
    font-size: 35px;
    font-weight: bold;
    color: black;
}

.logo-design .p-anchor {
    font-size: medium;

}

.nav-design ul {
 
    /* justify-content: space-between; */
        
}

.nav-design ul li {
    
    /* background-color: green */
}

.nav-design ul li a {
    justify-content: center;
    text-align: center;
}

.logo-design .logo-anchor:hover {
    color: blue;
}

.nav-design ul {
    width: fit-content;
    height: 100%;
    /* background: rgb(49, 218, 105); */
    list-style: none;
    
}

.nav-design ul li {
    display: inline;

}

.nav-design ul li a {
    padding: 0 20px;    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    line-height: 60px;
    
}

.nav-design ul li a:hover {
    color: blue;
    
}

/* ****************** Hero Section ******************/ 

/* Container to hold the two sections */
/* Container to hold the two sections */
.hero-container {
    /* background-color: aqua; */
    height: 90vh;
    width: 100%;

    display: flex;
}

/* Left section */
.hero-section {
    /* background-color: beige; */
    width: 50%;
    display: flex;       
}

/* Style for the about-me-content container */
.about-me-content {
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    justify-content: center;
  
}

/* Style for the h1 within the left section */
.about-me-content h1 {
    font-size: 35px;
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

/* Style for the p within the left section */
.about-me-content p {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: larger;
}

.hero-button {
    text-align: center;
    display: flex;
    justify-content:center;
}

.hero-button button {
    Padding:1rem;
    margin: 2rem;

}

/* Right section */
.hero-section-img {
    /* background-color: aquamarine; */
    width: 50%;
    
    display: flex; 
    justify-content: center;
    align-items: center;
         
}

/* Style for the image within the right section */
.hero-section-img img {

    border: 5px solid #555;
    /* display: block; */
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 50%; 
    height: 50%;
   
  }
  

/* ------------About me Section--------- */

.about-me-container {
    background-color: aqua;
    width: 100%;
    height: 90vh;
}