* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}
.bg {
    background-color: #44387a;
}

a {
    cursor: pointer;
    text-decoration: none;
}

body {
    background: rgba(207, 188, 188, 0.1);
    
}


/************************ Main Container *******************************/

.main-container {
    width: 90%;
    height: auto;
    margin: auto;
}


/* ****************** Hero Section ******************/ 


.hero-container {
    
    margin: 3rem 1rem;

    display: flex;
    flex-direction: row;
    justify-items: center;
    text-align: center;
}

/* Left section */
.hero-section {
    width: 50%; 
    display: flex;

}

/* Style for the about-me-content container */
.about-me-content {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin-right: 2rem;
}

/* Style for the h1 within the left section */
.about-me-content h1 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
}

/* Style for the p within the left section */
.about-me-content p {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: larger;
    text-align: left;
}

.hero-button {
    text-align: center;
    display: flex;
    justify-content:center;
}

.hero-button button {
    width: 10em;
    height: 4em;
    Padding: 1rem;
    margin: 2rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    font-weight: light;
}

/* Right section */
.hero-section-img {
    width: 50%;
    
    display: flex; 
    justify-content: center;
    align-items: center;
         
}

/* Style for the image within the right section */
.hero-section-img img {

    border: 5px solid #969393;
    margin-right: 1rem;
    width: 80%; 
    height: 80%;

}




  

/* ------------About me Section--------- */


    about-me-container {
    background-color: rgba(238, 94, 94, 0.1);
    box-shadow: 0px -15px 10px -15px rgb(173, 152, 152); 
   
    margin: 3rem auto;
    text-align: center;
     
    
} 

.intro-about-me {

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    
    
}

.intro-about-me h2 {
    font-size: 2rem;
    margin-bottom: 2.5rem;
    
}

.intro-about-me p {
    margin-bottom: 2.5rem;
    padding-left: 1rem;
    padding-right: 2rem;
    font-size: larger;
}

.intro-about-me img {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}


/* ------------- Tool-Box Section --------------- */


.container-section {

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 1rem;
    margin-bottom: 2rem;
    
    box-shadow: 0px 15px 10px -15px #9e9999;    /* bottom-shadow */
   
}

.container-section .big-label {
    font-size: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-me-info {
    width:100%;
    height: auto;

    display: grid;
    gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(5, 10rem);
  
}

[class ^= "item"] {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    background-color: aliceblue;
}

.about-me-info > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}


.about-me-info .item0 { 
    
    grid-column: 1 / 7;
    grid-row: 1 / 2;
}

.about-me-info .item1 { 
    
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

.about-me-info .item2 {
    
    grid-column: 4 / 7;
    grid-row: 2 / 3;
}

.about-me-info .item3 {
    
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.about-me-info .item4 {
   
    grid-column: 4 / 7;
    grid-row: 3 / 4;
}


.about-me-info .item5 {
   
    grid-column: 1 / 7;
    grid-row: 4 / 5;
}

.about-me-info .item6 { 

    grid-column: 1 / 7;
    grid-row: 5 / 6;
}

.about-me-info .item7 { 

    grid-column: 1 / 4;
    grid-row: 6 / 7;
}

.about-me-info .item8 { 

    grid-column: 4 / 7;
    grid-row: 6 / 7;
}

.about-me-info .item9 { 

    grid-column: 1 / 4;
    grid-row: 7 / 8;
}

.about-me-info .itemA { 

    grid-column: 4 / 7;
    grid-row: 7 / 8;
}

.title-item {
    text-decoration-line: underline;
    font-size: 25px;
}

.a-design {
    font-size: 20px;
}

.about-me-info img {
    width: 100px;
    height: 80px;
}




/************************** My Garage **********************/

.my-garage-container {
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 5rem;
    text-align: center;
}

.my-garage-container .my-garage {
    font-size: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
}

.garage-section {
    width: 100%;
    height: auto;
    background-color: aliceblue;
    margin: 1rem auto;
   
    display: flex;    
    flex-direction: row;  
    align-items: center;  
    justify-content: space-evenly;
    box-shadow: 0px 15px 10px -15px #838080;
}

.work-garage {
    width: 20em;
    height: 20em;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-garage img a {
    background-color: blue;
}

.work-garage img {
    width: 16rem;
    height: 16rem;
    padding-bottom: 2rem;
}

.work-garage .work-h3 {
    font-size: large;
}



/****************** Contact Form *******************/

.contact-container {
    
    width: 100%;
    height: auto;
    background-color: rgb(115, 164, 207);
    margin-top: 2rem;  
    margin-bottom: 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: center;

    display: flex;
    flex-direction: column;

    
    
}

.social-media > img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}


.container h3 {
    font-size: large;
}

/*************** Footer Section ***************/

.footer-div {
    background-color: rgb(39, 38, 38);
    width: 100%;
    height: 10em;
    color: aliceblue;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: auto auto;
}

.footer-div h3 {
    font-size: small;
       justify-self: center;
       align-self: center;

}



/********************************************************** Media Queries ***********************************************/

@media screen and (max-width: 575.98px) {
        

    /* ****************** Hero Section ******************/ 
    .hero-container {
        height: auto;
        width: 100%;
    
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }

            /* Left section */
        .hero-section {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;  
            margin:auto;

        }

        

        /* Style for the h1 within the left section */
        .about-me-content h1 {
            font-size: 1.5rem;
            font-weight: bold;
            margin-bottom: 1.5rem;
            margin-top: 1rem;
            padding-left: 1rem;
            padding-right: 1rem;
        }

        /* Style for the p within the left section */
        .about-me-content p {
            margin-bottom: 1.5rem;
            padding-left: .5rem;
            padding-right: 1rem;
            font-size: medium;
        }

        .hero-button {
            text-align: center;
            display: flex;
            justify-content:center;
        }

        .hero-button button {
            width: 6rem;
            height: 2rem;
            Padding: 2.5px;
            margin: 1rem;
            font-size: 15px;
            border-radius: .5rem;
            font-weight:normal;
        }

        /* Right section */
        .hero-section-img {
            width: 100%;
            
            display: flex; 
            justify-content: center;
            align-items: center;
                
        }

        /* Style for the image within the right section */
        .hero-section-img img {

            border: 5px solid #969393;
           
            width: 100%; 
            height: 100%;
            margin-top: 2rem;
            margin-left: auto;
            margin-right: auto;
           

        }

        /* ------------About me Section--------- */


        .about-me-container {
            background-color: rgba(238, 94, 94, 0.1);
            box-shadow: 0px -15px 10px -15px rgb(173, 152, 152); 
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            
            
        }

        .intro-about-me {
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            
            
        }

        .intro-about-me h2 {
            font-size: 20px;
            margin-bottom: 1.5rem;
            
        }

        .intro-about-me p {
            margin-bottom: 2.5rem;
            padding-left: 1rem;
            padding-right: 1rem;
            font-size: medium;
        }

        .intro-about-me img {
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }


        /************** Tool-Box Section ************/

       

        .container-section {

            display: flex;
            flex-direction: column;
            align-items: center;
        
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
            
            width: 80%;
            height: auto;
        

        box-shadow: 0px 15px 10px -15px #9e9999;    /* bottom-shadow */
        
        }

        .container-section .big-label {
            font-size: 35px;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .about-me-info {
            width:100%;
            height: auto;

            display: grid;
            gap: 10px;
            grid-template-columns: auto auto;
            grid-template-rows: repeat(7, 150px);
        
        }

        [class ^= "item"] {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 10px;
            background-color: aliceblue;
        }

        .about-me-info > div {
            text-align: center;
            padding: 20px 0;
            font-size: 30px;
        }


        .about-me-info .item0 { 
            
            grid-column: 1 / 7;
            grid-row: 1 / 2;
        }

        .about-me-info .item1 { 
            
            grid-column: 1 / 7;
            grid-row: 2 / 3;
        }

        .about-me-info .item2 {
            
            grid-column: 1 / 7;
            grid-row: 3 / 4;
        }

        .about-me-info .item3 {
            
            grid-column: 1 / 7;
            grid-row: 4 / 5;
        }

        .about-me-info .item4 {
        
            grid-column: 1 / 7;
            grid-row: 5 / 6;
        }


        .about-me-info .item5 {
        
            grid-column: 1 / 7;
            grid-row: 6 / 7;
        }

        .about-me-info .item6 { 

            grid-column: 1 / 7;
            grid-row: 7 / 8;
        }

        .about-me-info .item7 { 

            grid-column: 1 / 7;
            grid-row: 8 / 9;
        }

        .about-me-info .item8 { 

            grid-column: 1 / 7;
            grid-row: 9 / 10;
        }

        .about-me-info .item9 { 

            grid-column: 1 / 7;
            grid-row: 10 / 11;
        }

        .about-me-info .itemA { 

            grid-column: 1 / 7;
            grid-row: 12 / 13;
        }

        .title-item {
            text-decoration-line: underline;
            font-size: 25px;
        }

        .a-design {
            font-size: 20px;
        }

        .about-me-info img {
            width: 80px;
            height: 80px;
        }

            /************************** My Garage **********************/

        .my-garage-container {
            width: 100%;
            height: auto;
            margin-top: 2rem;
            margin-bottom: -28rem;
            text-align: center;
        }

        .my-garage-container .my-garage {
            font-size: 30px;
            padding-top: 50px;
            padding-bottom: 50px;
            
        }

        .garage-section {
            width: 100%;
            height: auto;
            background-color: aliceblue;
            
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 2rem;
        
            display: flex;    
            flex-direction: column; 
            text-align: center;  
            justify-content: center;
            box-shadow: 0px 15px 10px -15px #838080;
        }

        .work-garage {
            width: 80%;
            height: 300px;

            display: flex;  
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        

        .work-garage img {
            width: 100%;
            height: 100%;
            padding-bottom: 2rem;
        }

        .work-garage .work-h3 {
            font-size: large;
        }


             /****************** Contact Form *******************/

        .contact-container {
            height: 85vh;
            width: auto;
            background-color: aliceblue;
            margin-top: 30em;  
            margin-bottom: -8rem;
            padding-top: 2rem;
            text-align: center;

            display: flex;
            flex-direction: column;
            
        }

        .social-media > img {
            width: 100px;
            height: 100px;
            border-radius: 50px;
        }


        .container h3 {
            font-size: large;
        }

        /*************** Footer Section ***************/

        .footer-div {
            background-color: rgb(39, 38, 38);
            width: 100%;
            height: 10em;
            color: aliceblue;
            text-align: center;
            justify-content: center;
            margin: auto auto;
            margin-top: 0%;
        }

  }

 